*{margin:0;
padding:0;
box-sizing: border-box;
}

:root{
    --header-color: rgb(236, 203, 93);
    --button-bc: rgb(199, 164, 48);
    --text-bc: rgb(236, 203, 93);
    --text-color: rgb(241, 235, 215);
}
html{
    scroll-behavior: smooth;
    font-size: 16px
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue");
body{
    display: grid;
    background-color: bisque;
    font-family: "Bebas Neue";
}

.container_header{
    background-color: var(--header-color);
    display: flex;
    width: 100vw;
    min-height: clamp(2rem, 10svh+1rem);
    cursor: pointer;
    justify-content: center;
    user-select: none;
}

.text_header{ 
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_header{
    width: 2rem;
}

.section_menu{
    display: grid;
    justify-items: center;
    margin: 2vw;
    text-align: center;
    justify-content: center;
}

.menu{
    display: grid;
}

button{
    width: 80vw;
    margin: 0.5vw;
    font-family: "Bebas Neue";
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 3rem;
    border-radius: 1rem;
    border: 0.15rem solid rgba(0, 0, 0, 0.3);
    box-shadow: 0.15rem 0.15rem 0.5rem rgba(0, 0, 0, 0.5);
    color: var(--text-color);
    background-color: var(--button-bc);
    cursor: pointer;
}

button:hover{
    transform: scale(1.15);
}

.disclaimer_container{
    height: 10vh;
    width: 100vw;
    padding: 10vh;
    font-style: italic;
    text-align: center;
}

.disclaimer{
    align-items: center;
    
}

.text_section{

    background-color: var(--text-bc);
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: 10%;
    padding: 2vw;
    border-radius: 1vw;
    justify-content: center;
    align-items: center;
}

.firsts_steps_title{
    margin-bottom: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_ol{
    margin-left: 3vw;
}

.logo_title{
    margin: 1vw;
    width: 80vw;
}

.div_ol{
    display: none;
    background-color: var(--text-bc);
    width: 80vw;
    margin: 1vw;
    padding: 1em;
    border-radius: 1rem;
}
.ol_title_div{
    display: grid;
    align-items: center;
    background-color:var(--button-bc);
    color: var(--text-color);
    height: 130%;
    border-radius: 1vw;

}
.ordered_list_div{
    text-align: justify;
    padding: 1em;
}


.div_ol.show{
    display: grid;
    justify-content: center;
}