*{margin:0;
padding:0;
box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-size: 16px
}

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue");
body{
    display: flexbox;
    background-color: bisque;
    font-family: "Bebas Neue";
}

.container_header{
    background-color: rgb(236, 203, 93);
    display: flex;
    width: 100vw;
    min-height: clamp(2rem, 10svh+1rem);
    cursor: pointer;
    justify-content: center;
    user-select: none;
}

.text_header{ 
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_header{
    width: 2rem;
}

.section_menu{
    margin: 5vh;
    text-align: center;
}
.menu{
    align-items: center;
}
button{
    width: 80vw;
    margin: 1vh;
    font-family: "Bebas Neue";
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 3rem;
    border-radius: 1rem;
    border: 0.15rem solid rgba(0, 0, 0, 0.3);
    box-shadow: 0.15rem 0.15rem 0.5rem rgba(0, 0, 0, 0.5);
    color: rgb(241, 235, 215);
    background-color: rgb(199, 164, 48);
    cursor: pointer;
}

button:hover{
    transform: scale(1.15);
}

.disclaimer_container{
    height: 10vh;
    width: 100vw;
    padding: 10vh;
    font-style: italic;
    text-align: center;
}

.disclaimer{
    align-items: center;
    
}

.text_section{

    background-color: rgb(236, 203, 93);
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: 10%;
    padding: 2vw;
    border-radius: 1vw;
    justify-content: center;
    align-items: center;
}

.firsts_steps_title{
    margin-bottom: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_ol{
    margin-left: 3vw;
}

.logo_title{
    margin: 1vw;
    height: 3vw;
    width: 3vh;
}

.div_ol{
    background-color: rgb(233, 156, 126);
    border-radius: 1vw;
}
.ol_title_div{
    background-color:rgb(233, 194, 179);
}
.ordered_list_div{
    text-align: justify;
    margin-left: 2vw;
}

#desayunoList{
    display: none;
}